<div *ngIf="!questionBlock.isDirty" class="root-question-view">
  <div>
    <span [innerHTML]="questionBlock.question.question"></span>
  </div>
  <div class="is-flex">
    <small class="mr-3">
      <span>Type: <span class="text-question">{{questionBlock.question.type}}</span></span>
    </small>
    <small class="mr-3">
      <span>Category: <span class="text-question">{{questionBlock.question.category}}</span></span>
    </small>
    <small class="mr-3">
      <span>Difficulty: <span class="text-question">{{questionBlock.question.difficulty}}</span></span>
    </small>
  </div>
</div>