<div class="panel root-question">
  <div class="panel-heading" [class.has-background-danger]="questionBlock.isDirty"
    [class.has-text-white]="questionBlock.isDirty">
    <div>
      <div *ngIf="!isOpen">
        <app-question-view></app-question-view>
      </div>
    </div>
    <button class="button is-info" (click)="OpenClose()">{{isOpen?'Close':'Open'}}</button>
  </div>
  <div class="panel panel-block">
    <div *ngIf="isOpen" class="question-form">
      <app-question-form [question]="questionBlock.question"
        (changeQuestion)="ChangeQuestion($event)"></app-question-form>
    </div>

  </div>
</div>