.root-quiz-selected{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  .actions{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .questions{
    width: 75%;
  }
}