.root-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .content-table{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  .half-width{
      width: 50%;
    }
}