.root-create-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  .actions{
    width: 75%;
  }
  .question{
    width: 75%;
    .panel-heading{
      display: flex;
      flex-direction: column;
      width: 100%;
      .control-select{
        width: 100%;
      }
    }
  }
}