<div class="root-question-form">
  <form [formGroup]="formQuestion">
    <div class="is-flex">
      <div class="block-question">
        <label for="category" class="ml-2">Category</label>
        <div class="select is-rounded">
          <select formControlName="category" name="catogory" class="control-select">
            <option *ngFor="let category of categories$|async" [value]="category.name">
              {{category.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="block-question is-flex">
        <div class="block-question">
          <label for="difficult" class="ml-2">Difficulty</label>
          <div class="select is-rounded">
            <select formControlName="difficulty" name="difficult" class="control-select">
              <option *ngFor="let difficultName of difficultList" [value]="difficultName">
                {{difficultName}}
              </option>
            </select>
          </div>
        </div>
        <div class="block-question">
          <label for="typeQuiz" class="ml-2">Type</label>
          <div class="select is-rounded">
            <select formControlName="type" name="typeQuiz" class="control-select">
              <option *ngFor="let type of types" [value]="type">
                {{type}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <label for="question">Question: </label>
      <div [innerHTML]="question.question"></div>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''==='multiple'">
      <span>Correct Answers</span>
      <div class="is-flex is-flex-wrap-wrap">
        <ng-container *ngFor="let answer of formQuestion.value.correct_answer">
          <span class="tag is-success" [innerHTML]="answer"></span>
        </ng-container>

      </div>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''==='multiple'">
      <span>Incorrect Answers</span>
      <div class="is-flex is-flex-wrap-wrap">
        <ng-container *ngFor="let answer of formQuestion.value.incorrect_answers">
          <span class="tag is-dark" [innerHTML]="answer"></span>
        </ng-container>
      </div>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''==='boolean'">
      <span>Correct Answers</span>
      <div class="has-text-centered">
        <button class="button mr-2"
          [class.is-info]="formQuestion.value.correct_answer.length && formQuestion.value.correct_answer[0]==='True'">
          TRUE
        </button>
        <button class="button"
          [class.is-info]="formQuestion.value.correct_answer.length && formQuestion.value.correct_answer[0]==='False'">
          FALSE
        </button>
      </div>
    </div>

    <hr />
  </form>
</div>