<div class="root-question-form">
  <form [formGroup]="formQuestion">
    <div class="is-flex">
      <div class="block-question">
        <label for="category" class="ml-2">Category</label>
        <div class="select is-rounded">
          <select formControlName="category" name="catogory" class="control-select">
            <option *ngFor="let category of categories; let i=index" [value]="i">
              {{category}}
            </option>
          </select>
        </div>
      </div>
      <div class="block-question is-flex">
        <div class="block-question">
          <label for="difficult" class="ml-2">Difficulty</label>
          <div class="select is-rounded">
            <select formControlName="difficulty" name="difficult" class="control-select">
              <option *ngFor="let difficultName of difficultList; let i=index" [value]="i">
                {{difficultName}}
              </option>
            </select>
          </div>
        </div>
        <div class="block-question">
          <label for="typeQuiz" class="ml-2">Type</label>
          <div class="select is-rounded">
            <select formControlName="type" name="typeQuiz" class="control-select" (change)="ChangeSelecte()">
              <option *ngFor="let type of types; let i=index" [value]="i">
                {{type}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <label for="question">Question: </label>
      <textarea rows="2" name="question" formControlName="question" class="question-field textarea"></textarea>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''===typeQuiz.multiple+''">
      <span>Correct Answers</span>
      <div class="is-flex is-flex-wrap-wrap">
        <span class="tag is-dark" *ngFor="let answer of formQuestion.value.correct_answer">
          {{answer}}
          <button class="delete is-small" (click)="RemoveCorrectAnswer(answer)">
          </button>
        </span>
        <button class="button is-small is-success" (click)="OpenCorrectModal()">+</button>
      </div>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''===typeQuiz.multiple+''">
      <span>Incorrect Answers</span>
      <div class="is-flex is-flex-wrap-wrap">
        <span class="tag is-dark" *ngFor="let answer of formQuestion.value.incorrect_answers">
          {{answer}}
          <button class="delete is-small" (click)="RemoveIncorrectAnswer(answer)">
          </button>
        </span>
        <button class="button is-small is-success" (click)="OpenIncorrectModal()">+</button>
      </div>
    </div>

    <div class="mt-1" *ngIf="formQuestion.value.type+''===typeQuiz.boolean+''">
      <span>Correct Answers</span>
      <div class="has-text-centered">
        <button class="button mr-2" (click)="CorrectBooleanChoised(true)"
          [class.is-info]="formQuestion.value.correct_answer.length && formQuestion.value.correct_answer[0]==='TRUE'">
          TRUE
        </button>
        <button class="button" (click)="CorrectBooleanChoised(false)"
          [class.is-info]="formQuestion.value.correct_answer.length && formQuestion.value.correct_answer[0]==='FALSE'">
          FALSE
        </button>
      </div>
    </div>

    <hr />
    <div class="mt-1 has-text-centered">
      <button class="button is-primary" [disabled]="formQuestion.invalid" (click)="Save()">Save</button>
    </div>
  </form>
  <div *ngIf="isOpenCorrectAnswer || isOpenIncorrectAnswer">
    <app-answer-modal (AddAnswer)="AddAnswer($event)"></app-answer-modal>
  </div>
</div>